@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;


    protected override Task OnInitializedAsync()
    {
        Task.Run(async () =>
        {
            while (true)
            {
                this.currentCount++;
                await this.InvokeAsync(this.StateHasChanged);
                await Task.Delay(1000);
            }
        });
        return base.OnInitializedAsync();
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
