@page "/Users"
@using WebAdminService.Data
@inject CurrentUsersService CurrentUsersService

<h1>Users</h1>

@if (this._users == null)
{
    <p><em>Loading...</em></p>
}
else if (this._users.Length == 0)
{
    <h3><em>No data found...</em></h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>User id in bot-system</th>
                <th>User name in bot-system</th>
                <th>Jenkins name</th>
                <th>Redmine full name</th>
                <th>Is user activated?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usr in this._users)
            {
                <tr name="UserRow @usr.OriginalBotUserId">
                    <td><input name="BotUserId" @bind="usr.BotUserId" /></td>
                    <td><input name="WhoIsThis" @bind="usr.WhoIsThis" /></td>
                    <td><input name="JenkinsUserName" @bind="usr.JenkinsUserName" /></td>
                    <td><input name="RedmineUserName" @bind="usr.RedmineUserName" /></td>
                    <td><input name="IsActive" type="checkbox" @bind="usr.IsActive" /></td>
                    <td><button name="SaveButton" @onclick="() => SaveRow(usr)">Save</button> </td>
                </tr>
            }
        </tbody>
    </table>

}
